body {
  /* background-color: #f9f7fe; */
  background: radial-gradient(
      621px at 25.3% 13.8%,
      rgb(255, 255, 255) 0%,
      rgb(234, 236, 255) 90%
    )
    fixed;
}
.app-wrapper {
  display: block;
  margin: 0px auto;
}

form {
  width: 840px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 15px;
  padding-left: 12px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.city-search-bar {
  width: 400px;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #a5a5a5;
  padding-left: 18px;
  opacity: 0.8;
}

.search-button {
  padding: 12px 24px;
  border-radius: 25px;
  border: 1px solid #53afff;
  transition: all 200ms ease-in-out;
}
.search-button:hover {
  color: #fff;
  background-color: #53afff;
  cursor: pointer;
}

.current-location-button {
  padding: 12px 24px;
  border-radius: 25px;
  border: 1px solid #9de16f;
  transition: all 200ms ease-in-out;
}
.current-location-button:hover {
  color: #fff;
  background-color: #9de16f;
  border: 1px solid #9de16f;
  cursor: pointer;
}

.time-date {
  color: #a5a5a5;
  font-size: 14;
}

.city-name {
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-size: 55px;
  color: #5a6275;
  opacity: 1;
}
.brief-temp-details {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #5a6275;
  text-transform: capitalize;
}
.degree-change {
  text-decoration: none;
  transition: all 200ms ease-in-out;
  color: #53afff;
}
.degree-change:hover {
  text-decoration: underline;
  cursor: pointer;
}
.r2-c1-linspace {
  line-height: 0.5;
}
.more-weathercast-details {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #5a6275;
}

.forecast {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #5a6275;
  opacity: 1;
}

.temperature-block {
  font-size: 18px;
}

.max {
  font-weight: bold;
}

.min {
  color: #a5a5a5;
}

small {
  display: block;
  margin-left: 420px;
  font-family: monospace;
  font-size: medium;
  line-height: 3.5;
  opacity: 0.8;
}
.github-link {
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.github-link:hover {
  text-decoration: underline;
}
